<div class="pipes">
	<h3>pipes</h3>

	<h3>build-in pipes</h3>
	<p>{{title | uppercase}}</p>
	<p>{{infamy | date:"MM/dd/yyyy"}}</p>
	<p>{{title | slice:4:8}}</p>
	<p>{{title | uppercase | slice:4:8}}</p>

	<h3>custom pipes</h3>
	<input type="text" #nbr (keyup)="0">
	<span>result: {{nbr.value | myDouble}}</span>
	<br/>
	<p>NATO phonetic alphabet</p>
	<p>filter list</p>
	<input type="text" #newItem>
	<button (click)="values.push(newitem)" class="btn">add item</button>
	<hr/>
	<input type="text" #f (keyup)="0">
	<ul>
		<li *ngFor="let item of values | filter: f.value">{{item}}</li>
	</ul>
</div>
